@charset "utf-8";
/* CSS Document */

#main_bb1{
	background:url(img/gold.jpg);
	padding-left:15px;
	padding-bottom:15px;
	margin-bottom:10px;
	}
.main_bb_jiu{
	width:300px;
	height:370px;
	margin:5px 0 0 5px;
	float:left;
	}
.main_bb_jiu .main_bb_jiu_img{
	background:url(img/bb1.png) no-repeat;
	width:300px;
	height:300px;
	position:relative;
	}	
.main_bb_jiu .main_bb_jiu_img img{
	display:none;
	}	
.main_bb_jiu_dtcd{
	float:left;
	background:hsla(0,0%,0%,0.75);
	position:absolute;
	width:300px;
	height:300px;
	top:0px;
	left:0px;
	display:none;
	//z-index:10;
	}
.main_bb_jiu_dtcd ul{
	float:left;
	width:81px;
	height:25px;
	position:absolute;
	left:5px;
	top:5px;
	}	
.main_bb_jiu_dtcd ul li{
	width:25px;
	height:25px;
	margin:0 1px;
	float:left;
	z-index:10;
	}	
.main_bb_jiu_dtcd p{
	color:white;
	float:left;
	width:65px;
	height:15px;
	position:absolute;
	right:5px;
	bottom:5px;
	font-size:12px;
	}	
.main_bb_jiu .main_bb_jiu_xx_jg{
	height:70px;
	width:99px;
	float:left;
	border-right:1px dashed gray;
	font: normal bold 20px/70px "黑体";
	color:white;
	background:#724D1D;
	text-align:center;
	}	
.main_bb_jiu .main_bb_jiu_xx_lx{
	height:70px;
	width:200px;
	float:left;
	//border:1px solid red;
	font:normal normal 14px/23px "微软雅黑";
	color:white;
	background:#724D1D;
	}	
.main_bb_jiu .main_bb_jiu_xx_lx a{
	margin-left:5px;
	margin-top:15px;
	font:normal normal 12px/18px "微软雅黑";
	color:white;
	display:block;
	overflow:hidden;
	}	
.main_bb_jiu .main_bb_jiu_xx_lx a:visited{
	color:white;
	text-decoration:none;
	}		
.main_bb_jiu .main_bb_jiu_xx_lx a:hover{
	color:gray;
	text-decoration:none;
	}	
